h1 {
	color: green;
	font-family: 'MV Boli' , 'Arial';
	font-size: 50px;
	text-decoration: underline;
}
p{
	color: green;
	font-family: 'Segoe Script' , 'Arial';
	font-size: 20px;
	text-align: center;
}
nav{
	background-color: green;
}

.teteDePage{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.tetelien{
	color: red;
	border: none;
	border-radius: none; 
	box-shadow: none;
}

h3{
	color: yellow;
	text-decoration: underline;
}

body{
	background-color: black;
}

a{
	color: blue;
	border: 3px solid blue;
	border-radius: 10px ;
	box-shadow: 5px 5px 15px white;
}

a:visited {
	color: yellow;
}

a:hover{
	text-transform: uppercase;
}

mark{
	background-color: red;
}

mark:hover{
	background-color: blue;
	color: red;
}

.conteneur{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 200px;
	align-items: center;
	flex-wrap: wrap-reverse;
	

}
img {
	width : 350px;
	height : 200px;
	border: 3px solid orange;
	border-radius: 10px;
}

.images{
	display: flex;
	justify-content: center;
}

.Benjamin{
	color: red;
}

.Benjamin:hover{
	text-transform: uppercase;
	color: green;
	text-decoration: underline;
}
